@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


:root {
  --br: 4px;
  --shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  --thm:#B0578D;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: url('./assets/bg1.webp') no-repeat;
  background-size: cover;
  width: 100%;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 400px;
  width: 400px;
  border-radius: var(--br);
  overflow: hidden;
  padding: 20px;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.my_app {
  width: 100%;
}

.heading-txt {
  color: black;
  font-size: 30px;
  font-weight: bold;
  margin: 10px;
  text-align: center;
  text-transform: uppercase;
}

.question {
  font-size: 17px;
  margin-bottom: 20px;
  color:var(--thm);
}

#question-number {
  margin-right: 5px;
}

.option-container {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

/* .option-container input{
  visibility: hidden;    
} */
.option-btn {
  border: 1px solid var(--thm);
  height: 40px;
  border-radius: var(--br);
  transition: 0.3s;
  background: transparent;
  font-size: 15px;
  cursor: pointer;
  color: var(--thm);
}

.checked,
.option-btn:hover {
  background-color: var(--thm);
  color: white;
}

/* {
  background-color: rgb(212, 118, 212);
  color: white;
} */

#next-button {
  position: absolute;
  width: 100%;
  height: 57px;
  border-radius: var(--br);
  bottom: 0;
  left: 0;
  outline: none;
  border: none;
  font-size: 17px;
  text-transform: uppercase;
  background: var(--thm);
  color: white;
  font-weight: 500;
  cursor: pointer;
}

#next-button:disabled {
  background-color: #d3cccc;
  cursor: not-allowed;
}

#next-button:active {
  box-shadow: none;
}

.show-score {
  position: absolute;
  top: 21%;
  font-size: 40px;
  text-align: center;
}